// Write your overrides
@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
td:last-child:empty {
  display: none; /* Hide the empty last child <td> */
}

.overflow-hide {
  max-width: 46vw !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.text-field-error_size  div.v-messages__message {
  font-size: 14px !important; /* Change this to your desired font size */
  line-height: 15px;
}